body {
    background-color: #303030;
}

header {
    text-align: center;
    color: #fff;
    font-family: arial, verdana;
    letter-spacing: 2px;
}

section {
    text-align: center;
    color: #fff;
    font-family: arial, verdana;
}

input {
    margin: 5px;
}

#submit {
    font-family: arial,verdana;
    font-size: 15px;
    border: solid #fff 2px;
    background-color: #fff;
    padding: 5px 25px 5px 25px;
}

#submit:hover {
    background-color: transparent;
    color: #fff;
}

#submit:active {
    background-color: #00CCFF;
}

#tablesContainer {
    width: 100%;
}

#frameTable {
    height: 686px;
    position: absolute;
    overflow: hidden;
    width: 1218px;
}

#tableHolder {
    position: absolute;
}

table {
    max-width: 0;
    width: 100%;
    table-layout: fixed;
}

#tableHolder td {
    width: 300px;
    height: 225px;
    background-color: #00CCFF;
}

#tableCopy {
    position: absolute;
    display: block;
    z-index: 1;
}

#tableCopy td {
    width: 300px;
    height: 225px;
    background-color: transparent;
    color: transparent;
}

#tableCopy button {
    background-color: transparent;
    height: 224px;
    width: 300px;
    border: none;
}